<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main role="main">
  <div class="container my-5">
    <div class="display-3">Hello Spring Security</div>
    <p class="lead"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius fugiat itaque nulla? Culpa delectus dolore eaque earum incidunt ipsum magnam omnis sequi ut voluptates! Aperiam eum fuga fugiat voluptatum.</span><span>Ab architecto aspernatur eveniet facere illum ipsam laudantium maxime neque quas quasi quis quod quos, repellat sunt tenetur totam voluptatibus. Aliquam architecto consectetur debitis doloremque fuga in iure qui ut.</span></p>
  </div>
</main>
</body>
</html>